<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Gadget Mailsender</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Contact List</h1>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="/send">HOME</a></li>
                <li role="presentation" class="active"><a href="/contact-list">Contact List</a></li>
            </ul>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Error</h3>
                </div>
                <div class="panel-body" id="error-area">
                </div>
            </div>
            <form action="censor" method="post">
                <div class="form-group">
                    <label for="address">Address</label>
                    <table>
                        <tr>
                            <td><input type="text" class="form-control" name="address" id="address" placeholder="address"/></td>
                            <td><button type="submit" id="add" class="btn btn-default">Add</button></td>
                        </tr>
                    </table>
                </div>
            </form>

            <br/>
            <label>Address List</label>
            <br/>
            <div>
                <a href="#">xxx@gmail.com</a><br/>
                <a href="#">yyy@gmail.com</a><br/>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>